#clock{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    width: 9rem;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
#circle{
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 100%;
    border: 2px solid black;
}